<div class="margin-top-2x">
	<h1 style="text-transform:none">TopperQ Blog.</h1>
</div>
<div class="row">
	<div class="col-sm-8 col-md-9">
		<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>
		<div class="blog">
			{{#ifCond data.posts.results.length '===' 0}}
				<div><br/>
					<p class="well text-center">There are no posts to show in category "<b style="text-transform: capitalize">{{data.category.key}}</b>"
					{{#ifCond data.posts.currentPage '!=' 1}}
						on <b>Page={{data.posts.currentPage}}</b>.</p>
					{{/ifCond}}
				</div>
			{{/ifCond}}
			{{# each data.posts.results}}
			<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
				{{#if image.url}}<span class="blog-img"><a href="{{postUrl slug}}"><img src="{{{cloudinaryUrl image  crop='fit' }}}" class="img"></a> </span>{{/if}}
				<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
				<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
					{{#if author.name.first}}by {{author.name.first}}{{/if}}
				</p>
				
				<p>{{{content.brief}}}</p>
				{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
	<div class="col-sm-4 col-md-3 cat-list">
		<h4>Categories</h4>
		<div class="list-group">
			<a href="/blog" {{#ifeq data.category.key undefined}}class="active list-group-item"{{/ifeq}} class="false list-group-item">All Categories</a>
			{{# each data.categories }}
			<a href="{{categoryUrl key}}"
				{{#ifeq ../data.category.key key}}class="active list-group-item"{{/ifeq}} class="false list-group-item">{{name}}
			</a>
			{{/each}}
		</div>
	</div>
</div>
{{>pagination}}